body{
    background-color: azure;
}
#logo{
    width: 20%;
}
/*INICIO ESTILOS PARA EL HEADER*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00304E;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*FIN ESTILOS PARA EL HEADER*/

/*INICIO ESTILOS PARA EL CONTENIDO*/
/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: blue;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: blue;
}
div.img {
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 360px;
}

/*FIN ESTILOS PARA EL CONTENIDO*/

/*INICIO ESTILOS PARA EL FOOTER*/


/*FIN ESTILOS PARA EL FOOTER*/