body{
    background-color: azure;
}
#logo{
    width: 20%;
}
/*INICIO ESTILOS PARA EL HEADER*/


/*FIN ESTILOS PARA EL HEADER*/

/*INICIO ESTILOS PARA EL CONTENIDO*/


/*FIN ESTILOS PARA EL CONTENIDO*/

/*INICIO ESTILOS PARA EL FOOTER*/
p.one {
    border: 1px solid red;
    background-color: blue;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

/*FIN ESTILOS PARA EL FOOTER*/